#Host
CHIRPSTACK_HOSTNAME=

# Create SQL statement with CHIRPSTACK_ENVIRONMENT attribute
CHIRPSTACK_ENVIRONMENT=dev-chirpstack

#Postgres
POSTGRES_DSN=
POSTGRESQL_CA_CERT=/certs/rds-combined-ca-bundle.pem

#IOT Core
AWS_IOT_ENDPOINT=

#Redis
REDIS_SERVER=